html, body{
  padding: 0;
  margin: 0;
  background-color: #88e1fc;
}

/*---------Start of Login Page--------*/
form{
  padding: 20px;
}

input[type=text], input[type=password]{
  width: 100%;
  padding: 15px;
  font-size: 15px;
  margin: 10px 0px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

button{
  background-color: #0b5e77;
  color: white;
  padding: 0px;
  margin: 20px 0px;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 20px;
}

.scoutLogo{
    text-align: center;
}
/*---------End of Login Page--------*/

/*---------Start of Home Page--------*/
/*** Start of Top Navigation Bar ***/
#topNavigationBar{
  border: 1px solid white;
  background-color: white;
}
#topNavigationBar ul{
  text-align: center;
  margin: 5px;
}
#topNavigationBar li{
  list-style: none;
  display: inline-block;
  width: 30%;
}
#topNavigationBar a{
  text-decoration: none;
}
#smallLogo{
  width: 60px;
}
/*** End of Top Navigation Bar ***/

/*** Other content in this page ***/
#search p{
  text-align: center;
  padding: 20px;
  margin: 50px;
  background-color: white;
  font-size: 25px;
  border: 1px solid black;
}

/*** Start of Middle Navigation Bar ***/
#middleNavigationBar{
  padding: 30px;
  margin: 10px;
}
#middleNavigationBar ul{
  border: 1px solid black;
  list-style: none;
  text-align: center;
  background-color: white;
}
#middleNavigationBar li{
  padding: 20px;
  font-size: 25px;
}
/* End of Middle Navigation Bar */
/*---------End of Home Page----------*/
