html, body{
  padding: 0;
  margin: 0;
  background-color: #88e1fc;
}

/*---------Start of Login Page--------*/
form{
  padding: 20px;
}

input[type=text], input[type=password], textarea{
  width: 100%;
  padding: 15px;
  font-size: 15px;
  margin: 10px 0px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

button{
  background-color: #0b5e77;
  color: white;
  padding: 0px;
  margin: 20px 0px;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 20px;
}

.scoutLogo{
    text-align: center;
}

form p{
  text-align: center;
  background-color: #0b5e77;
  padding: 20px;
}

form a{
  text-decoration: none;
  color: white;
  background-color: #0b5e77;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 20px;
}
/*---------End of Login Page--------*/

/*---------Start of Home Page--------*/
/*** Start of Top Navigation Bar ***/
#topNavigationBar{
  border: 1px solid white;
  background-color: white;
}
#topNavigationBar ul{
  text-align: center;
  margin: 5px;
}
#topNavigationBar li{
  list-style: none;
  display: inline-block;
  width: 30%;
}
#topNavigationBar a{
  text-decoration: none;
  color: black;
}
#smallLogo{
  width: 60px;
}
/*** End of Top Navigation Bar ***/

/*** Other content in this page ***/
#search p{
  text-align: center;
  padding: 20px;
  margin: 50px;
  background-color: white;
  font-size: 25px;
  border: 1px solid black;
}

#search a{
  text-decoration: none;
  color: black;
}

/*** Start of Middle Navigation Bar ***/
#middleNavigationBar{
  padding: 30px;
  margin: 10px;
}
#middleNavigationBar ul{
  border: 1px solid black;
  list-style: none;
  text-align: center;
  background-color: white;
}
#middleNavigationBar li{
  padding: 20px;
  font-size: 25px;
}

#middleNavigationBar a{
  text-decoration: none;
  color: black;
}
/* End of Middle Navigation Bar */
/*---------End of Home Page----------*/

/*--------Start of Account Page----------*/
.profilePic img{
  width: 38%;
  padding: 20px 50px;
  margin: auto;
}
#detail{
  margin: 50px 50px;
  padding: 20px 50px;
  border: 1px solid black;
  background-color: white;
  float: right;
  width: 20%;
}
#recentInfo{
  padding: 30px;
  margin: 10px;
}
#recentInfo ul{
  text-align: center;
  border: 1px solid black;
  background-color: white;
}
#recentInfo li{
  list-style: none;
  padding: 20px;
  font-size: 20px;
}
#setting{
  padding: 30px;
  margin: 10px;
}
#setting ul{
  text-align: center;
  border: 1px solid black;
  background-color: white;
}
#setting li{
  list-style: none;
  padding: 20px;
  font-size: 20px;
}

#setting a{
  text-decoration: none;
  color: black;
}
/*--------End of Account Page----------*/

/*--------Start of Edit Profile Page----------*/
#pageHeader {
  text-align: center;
  margin: 0;
  font-size: 20px;
}
#profileForm form{
  margin: 0px 20px;
}

#profileForm input[type=text]{
  width: 100%;
  font-size: 15px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

#profileForm button{
  background-color: #0b5e77;
  color: white;
  padding: 0px;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 20px;
}

#profileForm label{
  font-size: 20px;
}
/*--------End of Edit Profile Page----------*/


/*--------Start of Search Result Page----------*/
#listOfResult p{
  background-color: white;
  color: black;
  padding-top: 30px;
  margin: 20px 0px;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 20px;
  text-align: center;
}

#listOfResult ul{
  list-style: none;
}

#listOfResult li{
  background-color: white;
  color: black;
  margin-bottom: 10px;
  width: 90%;
  padding: 20px;
}

#searchPic img{
  clear: left;
  width: 100px;
}

#listOfResult a{
  text-decoration: none;
  color: black;
}

/*--------End of Search Result Page----------*/

/*--------Start of Bob Mortimer Page----------*/
#recentInfo a{
  text-decoration: none;
  color: black;
}
/*--------End of Bob Mortimer Page----------*/

/*--------Start of Contact Page----------*/
#contact{
  margin-left: 100px;
  margin-top: 50px;
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 40%;
  padding: 50px;
}

input[type=submit]{
  text-decoration: none;
  background-color: #0b5e77;
  color: white;
  border: 1px black solid;
  padding: 20px;
  margin: 150px 0px;
  cursor: pointer;
  font-size: 20px;
}

#back{
  margin-left: 120px;
  margin-top: 100px;
  width: 80%;
  background-color: #0b5e77;
  color: white;
  border: 1px solid black;
  text-align: center;
}

textarea {
  height: 200px;
}

label {
  color: white;
}


/*--------End of Contact Page----------*/

/*--------Start of Contact-thank-you Page----------*/
#thankYou {
  text-align: center;
  background-color: white;
  padding: 20px;
  margin: 5% 10%;
  font-size: 20px;
}

#thankYou a{
  text-decoration: none;
  color: purple;
}

#thankYou a:hover{
  text-decoration: underline;
  color: blue;
}

/*--------End of Contact-thank-you Page----------*/
